
application.yml
*.gz
bin/*
obj/*
.vs/*
Botwyn/bin/*
Botwyn/obj/*
Botwyn/Lavalink.jar
.vs/Botwyn/v15/.suo
.vs/Botwyn/v15/Server/sqlite3/storage.ide-shm
.vs/Botwyn/v15/Server/sqlite3/storage.ide-wal
.vs/Botwyn/DesignTimeBuild/.dtbcache
.vs/Botwyn/v15/.suo
.vs/Botwyn/v15/Server/sqlite3/storage.ide
.vs/Botwyn/v15/Server/sqlite3/storage.ide-shm
.vs/Botwyn/v15/Server/sqlite3/storage.ide-wal
Botwyn/logs/spring.log
.vs/Botwyn/v15/.suo
Botwyn/logs/spring.log
*.log
*.ide
*.ide-wal
